:root {
    --sathya:true;
}


.m_section{

	.brand_area {
		padding: 9px 0;
		border-top: 1px solid #3a3a3a;
		border-bottom: 1px solid #969696;
		
	
	 .container {
		border-top: 0;
		border-bottom: 0;
	}
	
	}

	.m-content{

		margin-bottom: 20px;

		p{margin-bottom: 20px;}
	}

.m-loop {
	
	border-bottom: 1px solid #969696;
    padding-bottom:20px;
	padding-top: 20px;
	
	img {
		max-width: inherit;
		height: auto;
	}

	.pr-1 {
		max-width: 170px;
		text-align: right;
		margin-right: 20px;
	}


	.pr-2 {
		margin-right: 10px;
	}

	span {
		color:$dark_red;
	}

	.m-loop b {
		font-size: 18px;
	}

	.p-3 {
		padding: 0rem!important;
	}

	p.font-18 {
		font-size: 18px;
		text-transform: uppercase;
	}

	.pr-1 b {
		text-transform: uppercase;
	}

}

.m-content {
    padding-left: 35px;
    padding-right: 30px;
}



}


.m-loop.last-l {border:0}