:root {
    --syed:true;

	--color-red: #d5212c;
	--color-gray: #808080;
}

.color-red {
    color:var(--color-red);
}

$sizes: (
	'10': 10px, 
	'11': 11px, 
	'12': 12px,
	'13': 13px,
	'14': 14px,
	'15': 15px,
	'16': 16px,
	'17': 17px,
	'18': 18px,
	'19': 19px,
	'20': 20px,
	'21': 21px,
	'22': 22px
);

@each $value in $sizes {
  .font-#{nth($value, 1)} {
    font-size:#{nth($value, 2)};
  }
}

.home-product_slider {
	.ion-ios-arrow-left,
	.ion-ios-arrow-right {
		color:var(--color-red);
	}
}

@media only screen and (max-width: 767px) {
	.product_thumb {
		text-align: center;
	}
}

.logo{
    @media #{$small-mobile2} {
        text-align: center;
    }
}

.search_box {
	input {
		text-transform: uppercase;
	}
}

.main_menu nav > ul > li.active a {
    color:var(--color-red)
}

// 
.footer-modern-list {
	text-align: left;
	margin-bottom: -7px;
	color: #151515;
}

.footer-modern-list > li {
	text-indent: -20px;
	padding-left: 20px;
	transition: all .25s ease;
    list-style-type:none;
}

.footer-modern-list li::before {
	display: inline-block;
	vertical-align: middle;
	content: '';
	height: 2px;
	width: 10px;
	margin-right: 10px;
	background: #000;
	transition: inherit;
}

.footer-modern-list > li:hover a {
	color: red;
}

.footer-modern-list > li {
	margin-bottom: 7px;
}


.footer-modern-list a, .footer-modern-list a:focus, .footer-modern-list a:active {
	color: inherit;
}


@media (min-width: 768px) {

.footer-modern-list > li {
		padding-right: 17px;
	}
	.footer-modern-list > li:hover {
		padding-right: 0;
	}
	.footer-modern-list > li:hover::before {
		width: 34px;
		background: #404040;
	}

	.footer-modern-list > li::before {
		width: 17px;
		margin-right: 17px;
	}

}




