/*common home page content area css*/

.home-section-three{

     padding:60px 0;

      h3{
          font-size:20px;
          font-weight: bold;
          color:$dark_red;
          text-transform: uppercase;
          text-align: center;
         margin-top: 18px;
      }
      
    .about_gallery_content{
         padding-top: 3px;
     } 


}


.home-section-two{
    padding:60px 0;

    .product_thumb {
        float: left;
    }

    .product_content{
        text-align: left;
        margin-top: 0;
        padding-left: 14px;
        float: left;
        width: 261px;

        h3 {
            font-size: 20px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }

        p {
                font-size: 16px;
                line-height: normal;
                margin-bottom: 10px;
            }

            .r-box{
                background:$dark_red;
                font-size: 14px;
                color: #fff;
                padding: 5px 6px;
            }
        }

        

}


.home-product_slider {

    .owl-carousel {

        .owl-item {

            img {width: auto; display: inline-block;}
        }

    }  

    .product_thumb {width: auto;}


      .p-details {
        float: left;
        text-align: left;
        margin-top: 0;
        padding-left: 15px;
        width: 328px;
        margin-left: -2px;

        .r-box {
            background:$dark_red;
            font-size: 14px;
            color:$white;
            padding: 5px 6px;
            max-width: 180px;
            text-align: center;
        }

        h3  {  
            color:$black;
            font-size: 18px; 
        }

         p {
            margin-bottom: 10px;
            line-height: normal;
        }

        .s-price {
            font-size:20px;
        }
    }

     

    h3 {
        font-size: 18px;
        font-weight: bold;
        color:$dark_red;
        text-transform: uppercase;
    }

    .product_carousel {

        .owl-nav div {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            font-size: 36px;
            left: 0;
            transition: .3s;
            opacity: 10;
            visibility: visible;
        }

        .owl-nav div:hover {
            color: $dark_red;
        }

        .owl-nav div.owl-next {
            right: 0;
            left: auto;
        }

        .owl-nav div:hover {
            color: $dark_red;
        }

    }

    .product_carousel:hover .owl-nav div {
        opacity: 1;
        visibility: visible;
        right: -30px;
    }

    .product_carousel:hover .owl-nav div.owl-next {
        right: -30px;
    }
    
    .product_content.p-title {
        text-align: center;
        margin-top: 10px;
        width: calc(100% - 62px);
        padding-left: 0;
    
    }

}


.home-before-after-section {
        p{color:$black; font-size:16px;}
        .owl-carousel .owl-item img {width: auto;}

    .product_carousel {

        .ion-ios-arrow-left {
            background-color: rgba(25, 23, 23, 0.65);
            padding: 10px;
            color: #fff; 
        }

        .ion-ios-arrow-right{
            background-color: rgba(25, 23, 23, 0.65);
            padding: 10px;
            color: #fff; 
        }

        .owl-nav div {
            top: 75px;
        }

    }   
       

    }

    .home-section-title {
        text-align:center;
        margin-bottom:40px;
        
                 
        h2 {
            color: $dark_red;
            font-size: 34px;
            text-transform: uppercase;
            font-weight: 600;

        }
  

    
}


.testimonials-section {

    .home-section-title {margin-bottom:10px;}

   .t-loop {
        .author-name {
        color: $dark_red;
        }

   }

  .product_carousel .owl-nav div {
    top: 36px;
}

   

}

.morocco-method-section{

    .home-section-title {margin-bottom:40px;}

    .b-title{
        background:$dark_red;;
        color:$white;
        text-align: center;
        padding:16px 10px;
        font-size: 25px;
        text-transform: uppercase;
        line-height: normal;
       }

     .pad-m{padding: 33px 10px;}

}

    p {
        font-size: 15px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        margin-bottom: 2px;
    }


   .product_carousel .owl-nav div {
        opacity: 10;
        visibility: visible;
    }