@media (min-width:768px) and (max-width:1024px)
{
.container
{
max-width:100%;
}
}



@media only screen and (max-width: 991px) and (min-width: 768px){
.language_currency {
    display: block;

}

.canvas_open {
    margin-left: 15px;
}

.header_middle .col_search5 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: auto!important;

}
    .m-cart{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .header_middle .row {
        align-items: inherit !important;
    }

    .mobile-view-center {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .search_box input {
        text-transform: uppercase;
        font-size: 0;
    }
    
    .search_box .lnr-magnifier:before {
        content: "\e86f";
        font-size: 21px;
        font-weight: bold;
    }

    .header_middle .search_box {
        border: 0 !important;
    }

    .header_middle {
        margin-bottom:0px !important;

    }

}

@media only screen and (max-width: 767px){
.header_top {
    display: block !important;
}
.header_top .language_currency span, .header_top .header_right span
{
text-align:center !important;
}
.language_currency
{
display:block !important;
}
.main_header {
    padding: 0px 0 15px !important;
}
li.single_brand {
    width: 18%;
    display: inline-block !important;
}
.brand_area .container ul {
    display: inherit !important;
}
.home-section-two .product_thumb {
    float: inherit;
    max-width: 100%;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.product_thumb a img {
width:inherit !important;
}
.home-section-two .product_content
{
width:100% !important;
padding-left:0px !important;
}
.home-section-two .product_content .r-box
{
max-width: 240px;
}
.home-section-two .product_content {
    padding: 0 28px !important;
}
.home-product_slider .product_thumb
{
width:100% !important;
}
.home-product_slider .product_carousel .owl-nav div
{
top:25% !important;
}
i.ion-ios-arrow-left, i.ion-ios-arrow-right {
    color: #d5212c !important;
    font-size: 61px;
    font-weight: bold;
	background:none !important;
}
.product_carousel .owl-nav div
{
top:50% !important;
}
.owl-item.active.last
{
padding: 0 37px !important;
margin-right:0px !important;
}
.footer_top .container {
    width: 100% !important;
}
footer .widgets_container
{
text-align:left;
}
.banner_thumb
{
margin-bottom:25px;
}
.widget_newsletter .footer_social h3
{
font-size:26px;
}
.subscribe_form form button
{
    padding: 8px 11px;
    max-width: 270px;
    font-size: 18px;
    text-transform: capitalize;
}
.subscribe_form {
    text-align: center;
}
footer.footer_widgets {
  
    padding: 0 40px;
}
.widget_newsletter p
{
font-size:18px;
}
.widgets_container h3 {

    font-size: 26px !important;
}
.testimonials-section.mt-70.mb-70
{
margin-top:40px !important;
margin-bottom:40px !important;
}
.home-before-after-section.mt-70.mb-70 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.home-product_slider .owl-item.active.last {
    padding: 0px !important;
}
.slider_section.mb-70
{
margin-bottom:0px !important;
}




/********* lunar*******/

.lunar_expande .product_d_right h1
{
font-size:32px !important;
line-height: 50px;
text-align:center;
}
.product_d_right .product_desc p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.hint a {
    font-size: 28px;
}
.lunar_expande .hint ul {
    display: inline-block;
}
.lunar_expande .hint ul li {
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    display: inline;
}
.lunar_expande .rotate_shampoo h2 {
    font-size: 30px;
    color: #d5212c;
    padding: 0 55px;
    line-height: 32px;
}
.lunar_expande .inner-indt a
{
font-weight:bold;   
}
.section_title h2
{
font-size:28px !important;
}
.section_title p {
    font-size: 18px;
	}
	.lunar_expande .faq_content_wrapper h4 {
    font-size: 32px !important;
    margin-bottom: 28px;
	}
	figcaption.about_gallery_content h3 a {
    text-transform: uppercase;
	    font-size: 22px;
}
.lunar_expande .lunar-card .about_gallery_content p
{
font-size:18px;
}






.card-header.card_accor button.btn-link.collapsed
{
border-bottom:none !important;
padding-right: 60px;
}
.card.card_dipult
{
border-bottom: 1px solid #000;
    border-radius: 0px;
	padding-bottom: 26px;
}
.card-body
{

    padding: 0 20px;
}
.lunar_expande .faq_content_wrapper h4
{
line-height:34px !important;
}



/******** lunar popup****/
.product_variant.quantity
{
display:inline-block !important;
}
.product_variant.quantity
{
margin:0px !important;
}
.modal_title h2 {
    font-size: 67px;
    text-transform: capitalize;
 
    line-height: 59px;
}



/******* shop *****/
.shop_wrapper .single_product
{
text-align:center;
}
.shop_toolbar_btn > button
{
margin-right:0px !important;
}
.grid_list .product_content.list_content
{
padding: 0 25px 35px;
}

.canvas_open {
    margin-left: 15px;
}

.header_middle .col_search5 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: auto!important;

}
    .m-cart{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .header_middle .row {
        align-items: inherit !important;
    }

    .mobile-view-center {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .search_box input {
        text-transform: uppercase;
        font-size: 0;
    }
    
    .search_box .lnr-magnifier:before {
        content: "\e86f";
        font-size: 21px;
        font-weight: bold;
    }

    .header_middle .search_box {
        border: 0 !important;
    }

    .modal_add_to_cart form button {
        width: 100%;
        margin: 22px 0 0px 0 !important;
    }
    .modal_add_to_cart button[type="submit"] {
        background: #dc1625;
        border: none;
    }
    .modal_add_to_cart button[type="submit"].cart-btn {
        background: no-repeat;
        color: #dc1625;
        border: 1px solid #dc1625;
    }
    select#size {
        padding: 7px;
        width: 100%;
        margin-bottom: 15px;
    }
    select#qty {
        padding: 7px;
        margin-left: 0;
        width: 100%;
    }


    .header_middle {
        margin-bottom:0px !important;

}

}


@media only screen and (max-width:375px){
    .header_top P {
        font-size: 7px;
    }
    .header_top img {
        max-width: 20px;
    }

}